#select-address {
    border-style: solid;
    border-color: #E0265F;
    border-radius: 8px;
    border-width: 1.5px;
    box-shadow: 2px 2px #E0265F;
}

#unselect-address {
    border-style: none;
    box-shadow: none;
}

#summary-card {
    margin-top: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.width-50 {
    width: 50%;
}


